/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


//COLORS

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-black:  #000;
$color-grey-light-1: #f7f7f7;
$color-white: #ffff;
$color-black: #000; 
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


//GRID
// $grid-width:  71rem;
$grid-width: 114rem;
// $gutter-vertical: 2.5rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


//FONT VARIABLES
$default-font-size: 1.6rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

     font-family: "Lato", sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.7;
     color: #777;
     padding:  30px;
     
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
     rgba($color-primary-dark, 0.8)
    ), url('../img/hero.jpg');

    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0,100% 0, 100% 75vh,0 100%);
    clip-path: polygon(0 0,100% 0, 100% 75vh,0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;

}

.logo {
    height: 35px;

}

.logo:hover {
    animation: moveInRight 1s ease-out;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;    
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;

}

.heading-primary-main {
   
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    /* animation-timing-function: ease-in; */
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
}

.heading-primary-sub {
    
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;

   
}


@keyframes moveInLeft {
    0% {

        opacity: 0;
        transform: translateX(-100px);
    }

    80% {

        transform: translateX(40px);




    }

    100% {

        opacity: 1;
        transform: translateX(0);

    }

}

@keyframes moveInRight {
    0% {

        opacity: 0;
        transform: translateX(100px);
    }

    80% {

        transform: translateX(-40px);

    }

    100% {

        opacity: 1;
        transform: translateX(0);

    }

}
 


@keyframes moveInBottom {
    0% {

        opacity: 0;
        transform: translateY(100px);
    }

  

    100% {

        opacity: 1;
        transform: translateX(0);

    }

}

.btn:link, .btn:visited{

    text-transform: uppercase;
    text-decoration: none; 
    border-radius: 100px;
    display: inline-block;
    padding: 15px 40px;
    transition: all .2s; 
    position: relative;

}


.btn-white {
    background-color: #fff;
    color: $color-grey-dark;
    padding: 15px 40px;
    display: inline-block;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-grey-black,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white::after {
    background-color: white;
}

.btn::after {
    content: '';

    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


.btn-animated {
    animation: moveInBottom 2s ease-in-out .75s;
    animation-fill-mode: backwards;

}



.row {
    max-width: $grid-width;
    // background-color:  #eee;
    margin: 0 auto;
    margin-bottom: $gutter-vertical;

    &:last-child {
        // background-color:  orange;
        margin-bottom: 0;
   }
    // &:not(:last-child) {
    //     margin-bottom: $gutter-vertical;
         
    // }
        @include clearfix;

    [class^="col-"] {
        // background-color: orangered;            
            float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
            
        }

    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal} ) / 2);
       
        
        

    }

    
    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }


    .col-2-of-3 {
        width: calc(2 * ((100% - ( 2 * #{$gutter-horizontal} )) / 3) + #{$gutter-horizontal} );
              
  
    }

    .col-1-of-4 {
        width: calc((100% - ( 3 * #{$gutter-horizontal} )) / 4);
               
  
    }

    .col-2-of-4 {
        width: calc(2 * ((100% -  3 * #{$gutter-horizontal} ) / 4) + #{$gutter-horizontal} );
              
  
    }


    .col-3-of-4 {
        width: calc(3 * ((100% -  3 * #{$gutter-horizontal} ) / 4) + 2 * #{$gutter-horizontal} );
              
  
    }


}


.section-about {
    background-color:$color-grey-light-1;
    padding: 25rem 0;   
    margin-top: -20vh;
}

.heading-secondary {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700; 
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;    
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
  

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-grey-black, .2)
    }
}
 
.u-center-text { text-align: center; }
.u-margin-bottom-big { margin-bottom: 8rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-top-big { margin-top: 8rem; }

.heading-tertiary {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1rem;
    // everything except the last child
    &:not(:last-child) {
            margin-bottom: 30px;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .29s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);

    }

    &:active {
        box-shadow: 0 1rem 1rem rgba($color-black, .15);
        transform: translateY(0);

    }
}

.composition {
    position: relative;

  &_photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all .2s;
      outline-offset: 2rem;


      &--p1 {
        left: 0;
        top: -2rem;
    }

    &--p2 {
        right: 0;
        top: 2rem;
    }

    &--p3 {
        left: 20%;
        top: 10rem;
    }

    &:hover {
        outline: 1rem solid $color-primary;
        transform: scale(1.05) translateY(-5rem);
        box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        z-index: 11;
    }
        
  }

  &:hover &_photo:not(:hover) {
        transform: scale(.82)
  }
  //composition:hover composition_photo:not(:hover) {
     
 
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
     rgba($color-primary-dark, 0.8)
    ), url('../img/nat-4.jpg');
    background-size: cover;
    transform: skewY(-7deg);
    margin: -10rem;
    
    // direct child 
    & > * {
        transform: skewY(7deg);
    }

}  

  .feature-box {
      background-color: rgba($color-white, .8);
      font-size: 1.5rem;
      padding: 2.5rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
      transition: transform .4s;


      &__icon {

        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;    
        color: transparent;
       
       

      }

      &:hover {
          transform: translateY(-1.5rem) scale(1.03);
      }

    
  }
  
  .section-tours {
      background-color: $color-grey-light-1; 

      padding: 25rem 0 50rem 0; 
      margin-top: -10rem;

  }


  .card {
      //Functionality 
      // the higher value for perspective the more smooth the visualization/animation
      perspective: 9500rem;
      -moz-perspective: 150rem;
      position: relative;
      height: 45rem;
      

    &__side {
        
        font-size: 2rem;
        height: 45rem;
        transition: all .8s ease; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);


        &--front {
            background-color: $color-white;
        }

        &--back {
            background-color: green;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark)
            }

            &-2 {
                background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark)
            }

            &-3 {
                background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark)
            }
        }
    }
   
      &:hover &__side--front {
          transform: rotateY(-180deg);
      }


      &:hover &__side--back {
        transform: rotateY(0);
    }
    // Front Side Styling
    //unsplash.com
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        
        -webkit-clip-path: polygon(0 0, 100% 0,100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0,100% 85%, 0 100%);
            &--1 {
                background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark),
                 url("../img/nat-5.jpg");
            }
            &--2 {
                background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark),
                url("../img/nat-6.jpg");
            }
            &--3 {
                background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark),
                url("../img/nat-7.jpg");
            }
    }

    &__heading {
        color: $color-white;
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
        position: absolute;
        top: 12rem;
        right: -2.9rem;
        width: 90%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

       
        
        &--1 {
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, .85),
            rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light, .85),
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: .8rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }

        }
    }

   //BACK SIDE Styling

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
         text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

     &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
     }

     &__price-value {
         font-size: 6rem;
         font-weight: 100;
     }


    

  }

  //.card:hover  .card_side {

 

   